@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


//font - Weights: 300, 400, 600
$bodyBackgroundColor:hsl(217, 54%, 11%); 
$cardColor:hsl(216, 50%, 16%);
$lineColor: hsl(215, 32%, 27%);
$cardTextColor: hsl(0, 0%, 100%);
$FontFamily:"Outfit", serif;
$softBlue:hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);


